@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

:root {
	--primary: #FF8904;
	--background: #000601;
	--borderAccent: rgb(163, 106, 0);
	--dark: #1e1f25;
	--lightPrimary: #f0fab9;
	--white: #f9f9f9;
	--danger: #ff0000;
	--success: #00ff00;
	--warning: #f9a826;
	--info: #00bfff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
	font-family: "Oxanium", Arial, Helvetica, sans-serif;
	background-color: var(--background);
	color: var(--white);
	/* overflow: hidden !important; */
    /* height: 100% !important; */
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* animate winners on landing page */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scroll-mask {
	mask-image: linear-gradient(
		to bottom,
		transparent 0%,
		black 20px,
		black calc(100% - 20px),
		transparent 100%
	);
}
.swiper-pagination {
	position: absolute;
	bottom: 10 !important;
	/* Force to bottom */
	display: flex;
	justify-content: center;
	gap: 8px;
	padding-top: 20px;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #d1d5db;
	opacity: 1;
	transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
	width: 30px;
	background: #e3f77a;
	/* Your primary color */
	border-radius: 4px;
}
